* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-desktop {
  display: none;
}
  
header {
  display: flex;
  height: 12vh;
  justify-content: center;
  background-color: #252525;
}

header section {
  display: flex;
  width: 88vw;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  width: 138px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header h2 {
  font-family: 'Roboto Serif', sans-serif;
  font-weight: 700;
  font-size: 15px;
}
  
.logomarca-small {
  width: 44px;
  height: 44px;
}

header nav {
  display: flex;
  width: 166px;
  justify-content: space-between;
  align-items: center;
}

#insta {
  width: 32px;
  height: 32px;
}

#youtube {
  width: 40px;
  height: 30px;
}

#whats {
  width: 32px;
  height: 32px;
}

.box1 {
  display: flex;
  background-image: url('./assets/festa.png');
  background-size: 100% 100%;
  height: 110vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.box1 div {
  display: flex;
  flex-direction: column;
  width: 88vw;
  align-items: center;
  position: relative;
  bottom: 20vh;
  right: 0.4vw;
}

.box1 h2 {
  font-size: 51px;
  font-family: 'Roboto Serif', sans-serif;
  font-weight: 700;
  color: white;
}

.logomarca-big {
  width: 200px;
  margin-top: 4vh;
}

main input {
  width: 240px;
  height: 10vh;
  border-radius: 44px;
  font-size: 25px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

main h3 {
  font-size: 46px;
  font-family: 'Roboto Serif', sans-serif;
  font-weight: 700;
}

main p {
  font-size: 27px;
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  margin: 2vh 0 4vh 0;
}

.container-box2 {
  display: flex;
  background-image: url('./assets/touca.png');
  background-size: 100% 100%;
  height: 110vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.box2 {
  display: flex;
  justify-content: flex-start;
  width: 80vw;
}

.box2 div{
  display: flex;
  flex-direction: column;
  color: #3A342F;
}

.box2 p {
  width: 35vw;
}

.box2 input {
  background-color: #3A342F;
  color: white;
}

.container-box3 {
  display: flex;
  background-image: url('./assets/pequeno.png');
  background-size: 100% 100%;
  height: 110vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.box3 {
  display: flex;
  justify-content: flex-end;
  width: 74vw;
}

.box3 div {
  display: flex;
  flex-direction: column;
  color: white;
}

.box3 p {
  width: 32vw;
}

.box3 input {
  background-color: white;
  color: #3A342F;
}

.container-box4 {
  display: flex;
  height: 18vh;
  align-items: center;
  justify-content: center;
}

.box4 {
  display: flex;
  width: 48vw;
  justify-content: space-between;
}

.box4 div {
  display: flex;
  width: 32vw;
  justify-content: space-between;
  align-items: center;
}

.havaianas {
  width: 170px;
}

.americanas {
  width: 147px;
}

.box4 h4 {
  font-size: 24px;
  font-family: 'Roboto Serif', sans-serif;
  font-style: italic;
  font-weight: lighter;
  color: #FD6A9A;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #EB4A7B;
}

.container-box5 {
  display: flex;
  justify-content: flex-start;
  width: 86vw;
}

.box5 {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  height: 36vh;
  flex-direction: column;
  justify-content: space-evenly;
}

footer h4 {
  color: white;
  font-size: 24px;
  font-family: 'Roboto Serif', sans-serif;
  font-weight: 700;
}

footer ul {
  display: flex;
  list-style: none;
  height: 16vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: white;
}

@media (max-width:600px) {

  .no-desktop {
    display: flex;
  }

  .no-mobile {
    display: none;
  }

  .logomarca-small {
    width: 50px;
    height: 50px;
  }

  header div {
    width: 172px;
  }

  header h2 {
    font-size: 20px;
  }

  header nav {
    width: 60px;
    justify-content: flex-end;
  }

  .box1 h2 {
    font-size: 32px;
  }
  
  main h3 {
    font-size: 28px;
  }
  
  main p {
    font-size: 16px;
    line-height: 22px;
  }

  main input {
    width: 40vw;
    height: 8vh;
    border-radius: 44px;
    font-size: 16px;
  }

  .box1 {
    background-image: url("./assets/festa-mobile.png");
  }

  .box1 div { 
    width: 88vw;
    height: 38vh;
  }

  .logomarca-big {
    width: 36vw;
  }


  .container-box2 {
    background-image: url("./assets/touca-mobile.png");
    background-position: bottom;
  }

  .container-box2 div { 
    width: 88vw;
  }

  .box2 {
    width: 88vw;
    height: 80%;
  }

  .box2 p {
    width: 64vw;
  }

  .container-box3 {
    background-image: url("./assets/pequeno-mobile.png");
    background-position: bottom;
  }

  .container-box3 div { 
    width: 88vw;
  }

  .box3 {
    width: 88vw;
    height: 80%;
  }

  .box3 p {
    width: 70vw;
  }

  .box4 { 
    width: 88vw;
    flex-direction: column;
    align-items: center;
    height: 7vh;
  }

  .container-box4 h4 {
    font-size: 14px;
  }

  .havaianas {
    width: 120px;
  }
  
  .americanas {
    width: 100px;
  }

  .box4 div {
    display: flex;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EB4A7B;
  }

  .container-box5 {
    justify-content: center;
    align-items: center;
    width: 88vw;
  }
  
  .box5 {
    height: 50vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
  }

  footer div {
    align-items: center;
  }

  .links {
    height: 20vh;
    justify-content: space-between;
  }

  footer #insta {
    width: 28px;
    height: 28px;
  }
  
  footer #youtube {
    width: 36px;
    height: 26px;
  }
  
  footer #whats {
    width: 28px;
    height: 28px;
  }

  .no-desktop div {
    display: flex;
    width: 148px;
    justify-content: space-between;
    width: 172px;
  }

  footer nav {
    width: 172px;
    justify-content: space-evenly;
    align-items: center;
  }
  
  footer h2 {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
  }

  footer ul {
    align-items: center;
    height: 16vh;
  }

  footer h4 {
    font-size: 16px;
  }
}